@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Major+Mono+Display&family=Plus+Jakarta+Sans&display=swap');

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.plus-jakarta-sans-reg {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scrollbar-width: thin;
    scrollbar-color: #b96f00 transparent;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Major Mono Display", monospace;
    flex-direction: column;
    background-color: #fff0d9;
    color: #000000;
}

button {
  font-family: "Major Mono Display", monospace;

}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 20px;
    background: #fff0d995;
    backdrop-filter: blur(5px);
    z-index: 2;
    margin-top: 0;
}

.logo {
    font-size: 20px;
    margin-left: 20px;
    color: #8f5600;
}

.nav-links {
    display: flex;
    gap: 15px;
    margin-left: 30%;
}

.nav-btn {
    font-size: 15px;
    border-radius: 5px;
    padding: 3px 5px;
    border: none;
    background: transparent;
    color: #8f5600;
    transition: transform 0.3s ease;
    font-family: "Limelight", sans-serif;

}

.nav-btn:hover {
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 0 0 #8a5000;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin: 0;
    width: 100%;
    padding-left: 5%;
    min-height: 500px;
    padding-top: 5%;
}

#projects h2, #about h2 {
    margin: 50px;
    color: #8f5600;
}

#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    position: absolute;
    top: 182px;
    right: 250px;
    width: 250px;
}

.hero-content {
    width: 90%;
    min-height: 70%;
    background-color: #fff4e5;
    border-radius: 20px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h1 {
    font-size: 80px;
}

#hero p {
    margin-top: 10px;
    font-size: 20px;
}

#hero a {
    color: #753b00;
    font-style: italic;
    text-decoration: none;
}

.carousel {
    display: flex;
    width: 90%;
    margin: 10px auto;
    overflow-x: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.tools {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: spin 20s infinite linear;
    padding-right: 20px;
    flex-shrink: 0;
    width: max-content; 
}

.tool {
    font-size: 15px;
    background-color: #fff4e592;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.tool img {
    height: 25px;
    object-fit: cover;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}


/*---*/

.carrusel {
    width: 90%;
    position: relative;
}

.swiper-slide {
    padding: 15px;
    margin-bottom: 50px;
    background-color: #fff4e5;
    border-radius: 15px;
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;

}

.swiper-slide:hover {
    border: 1px solid #8f5600;
    box-shadow: 0px 4px 0px 0px #8f560040;
}



.tag {
    color: #8f5600;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid #00000050;
    border-radius: 20px;
    padding: 0 10px;
    width: fit-content;
    font-weight: bold;
}

.desc {
    font-size: 20px;
}

.item-link {
    margin-bottom: 15px;
    display: block;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #753b00;
    transition: 0.2s ease;
    overflow: hidden;
}

.item-link img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.carrusel .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    opacity: 0.4;
    background: #8f5600;
}

.carrusel .swiper-pagination-bullet-active {
    opacity: 1;
    background: #8f5600;
}

.carrusel .swiper-button-prev::after,
.carrusel .swiper-button-next::after {
    display: none;
}

.carrusel .swiper-button-prev,
.carrusel .swiper-button-next {
    color: #8f5600;
    background: #ffe6d2cc;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    backdrop-filter: blur(4px);
    font-size: 15px;
    font-weight: bold;
}

#contacto {
    background-color: #8f56008f;
    min-height: 100px;
    color: #fff0d9;
    font-family: "Limelight", sans-serif;

}

#contacto h2 {
    letter-spacing: 2px;
}
