*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scrollbar-width: thin;
    scrollbar-color: #b96f00 transparent;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fee1b6;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ffe6d281;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.logo {
    font-size: 20px;
    color: #8f5600;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-btn {
    border-radius: 10px;
    padding: 3px 5px;
    border: 1px solid #8f5600;
    background: transparent;
}

.nav-btn:hover {
    background-color: #ffad339e;
    box-shadow: 3px 3px 0px 0px #22222260;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    margin: 0;
    width: 100%;
    padding-left: 5%;
    min-height: 500px;
    padding-top: 5%;
    border-bottom: 2px dashed #fff3e1;
}

#hero {
    height: 100vh;
    background: url(assets/hero.png);
}

.carrusel {
    width: 80%;
    position: relative;
}


.item-link {
    display: block;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid black;
    transition: 0.2s ease;
    margin-bottom: 50px;
    overflow: hidden;
}

.item-link:hover {
    border-color: #8f5600;
    box-shadow: 4px 4px 0px 0px #8f560040;
}

.item-link img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block; 
}

.carrusel .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    opacity: 0.4;
    background: #8f5600;
}

.carrusel .swiper-pagination-bullet-active {
    opacity: 1;
    background: #8f5600;
}

.carrusel .swiper-button-prev::after,
.carrusel .swiper-button-next::after {
    display: none;
}

.carrusel .swiper-button-prev,
.carrusel .swiper-button-next {
    color: #8f5600;
    background: #ffe6d2cc;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    backdrop-filter: blur(4px);
    font-size: 15px;
    font-weight: bold;
}
